In [3]:
## Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load dataset
df_original = pd.read_csv('AusApparalSales4thQrt2020.csv')
df_original.head()

         Date        Time State     Group  Unit  Sales
0  1-Oct-2020     Morning    WA      Kids     8  20000
1  1-Oct-2020     Morning    WA       Men     8  20000
2  1-Oct-2020     Morning    WA     Women     4  10000
3  1-Oct-2020     Morning    WA   Seniors    15  37500
4  1-Oct-2020   Afternoon    WA      Kids     3   7500

In [ ]:
df_clean = df_original.copy()
df_clean.columns = df_clean.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

# Date column

date_col = None
for c in df_clean.columns:
    if 'date' in c:
        date_col = c
        break

if date_col is None:
    for c in df_clean.columns:
        if df_clean[c].dtype == 'object':
            try:
                pd.to_datetime(df_clean[c])
                date_col = c
                break
            except:
                continue

if date_col : 
    df_clean[date_col] = pd.to_datetime(df_clean[date_col], errors='coerce')
else:
    df_clean[date_col] = pd.NaT

# Time column
time_col = None
for c in df_clean.columns:
    if 'time' in c:
        time_col = c
        break

if time_col:
    df_clean[time_col] = pd.to_datetime(df_clean[time_col], errors='coerce').dt.time

# Standardize categorical columns
for c in df_clean.columns:
    if df_clean[c].dtype == 'object':
        df_clean[c] = df_clean[c].str.strip().str.lower()

# Numeric columns
possible_sales = [c for c in df_clean.columns if c.lower() in ['sales', 'amount', 'revenue', 'total']]
possible_units = [c for c in df_clean.columns if c.lower() in ['units', 'quantity', 'qty', 'number_of_items']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7560 entries, 0 to 7559
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    7560 non-null   object
 1   time    7560 non-null   object
 2   state   7560 non-null   object
 3   group   7560 non-null   object
 4   unit    7560 non-null   int64
 5   sales   7560 non-null   int64
dtypes: int64(2), object(4)
memory usage: 354.5+ KB