<a href="https://colab.research.google.com/github/iamneartou/SimpliLearn/blob/main/Scaling_HandsOn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import pandas as pd

In [3]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [9]:
df = sns.load_dataset("car_crashes")
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [7]:
df.describe()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,17.980000,5.899000,4.911400,16.387600,16.374000,888.650000,139.476000
std,3.753931,1.667002,1.000976,3.709385,3.901152,102.453142,20.018803
min,12.000000,4.032000,3.360000,10.920000,10.680000,784.550000,110.350000
25%,18.100000,4.200000,4.525000,15.624000,15.040000,827.340000,133.930000
50%,18.600000,6.510000,5.208000,16.290000,17.014000,878.410000,142.390000
75%,18.800000,7.332000,5.640000,18.048000,17.856000,899.470000,145.080000
max,22.400000,7.421000,5.824000,21.056000,21.280000,1053.480000,165.630000

In [11]:
df.describe()["total"]

count    51.000000
mean     15.790196
std       4.122002
min       5.900000
25%      12.750000
50%      15.600000
75%      18.500000
max      23.900000
Name: total, dtype: float64

# Generalized Scaling

In [14]:
df.speeding.head(12)

0     7.332
1     7.421
2     6.510
3     4.032
4     4.200
5     5.032
6     4.968
7     6.156
8     2.006
9     3.759
10    2.964
11    9.450
Name: speeding, dtype: float64

In [15]:
df.speeding/df.speeding.max()

0     0.775873
1     0.785291
2     0.688889
3     0.426667
4     0.444444
5     0.532487
6     0.525714
7     0.651429
8     0.212275
9     0.397778
10    0.313651
11    1.000000
12    0.582857
13    0.487619
14    0.383598
15    0.282434
16    0.508571
17    0.430265
18    0.759259
19    0.607196
20    0.449735
21    0.199577
22    0.358095
23    0.233651
24    0.279365
25    0.732593
26    0.883175
27    0.204974
28    0.575556
29    0.429630
30    0.189630
31    0.369947
32    0.416508
33    0.693333
34    0.581693
35    0.417778
36    0.673862
37    0.446984
38    0.962963
39    0.399365
40    0.961058
41    0.636402
42    0.433333
43    0.821164
44    0.514180
45    0.431746
46    0.255344
47    0.471111
48    0.856296
49    0.525714
50    0.773333
Name: speeding, dtype: float64

In [17]:
df.ins_premium/df.ins_premium.max()

0     0.602795
1     0.809423
2     0.691092
3     0.635672
4     0.674911
5     0.641942
6     0.821140
7     0.874262
8     0.978771
9     0.891365
10    0.701603
11    0.661673
12    0.493239
13    0.617055
14    0.545869
15    0.498694
16    0.599645
17    0.670378
18    0.984656
19    0.508544
20    0.805812
21    0.776892
22    0.853318
23    0.597133
24    0.688480
25    0.607228
26    0.627121
27    0.562634
28    0.791283
29    0.573591
30    1.000000
31    0.668334
32    0.948360
33    0.544164
34    0.529189
35    0.536089
36    0.677293
37    0.618285
38    0.696101
39    0.882806
40    0.659974
41    0.514253
42    0.590010
43    0.771982
44    0.621873
45    0.550280
46    0.590809
47    0.683839
48    0.762654
49    0.515021
50    0.607859
Name: ins_premium, dtype: float64

In [18]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [19]:
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [21]:
ss.fit_transform(df[['speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses']])

array([[ 1.1681476 ,  0.43993758,  1.00230055,  0.27769155, -0.58008306,
         0.4305138 ],
       [ 1.2126951 , -0.21131068,  0.60853209,  0.80725756,  0.94325764,
        -0.02289992],
       [ 0.75670887,  0.18761539,  0.45935701,  1.03314134,  0.0708756 ,
        -0.98177845],
       [-0.48361373,  0.54740815,  1.67605228,  1.95169961, -0.33770122,
         0.32112519],
       [-0.39952407, -0.8917629 , -0.594276  , -0.89196792, -0.04841772,
         1.26617765],
       [ 0.01692   , -0.63009543, -0.63369765, -0.29104195, -0.2914793 ,
         0.22027622],
       [-0.01511416, -0.5833691 , -0.9356316 , -1.38129335,  1.02964051,
         1.32270187],
       [ 0.57951992, -0.01564416,  0.1166575 ,  0.54542553,  1.42128062,
         0.6907692 ],
       [-1.49769509, -1.92383077, -1.71868879, -2.17430102,  2.19175919,
         0.06330968],
       [-0.62025945,  0.17768604,  0.64840171,  0.7568227 ,  1.54737129,
         0.39391538],
       [-1.01818377, -0.57636015,  0.27927178,  0.13497163,  0.14836529,
         0.33779781],
       [ 2.22827806,  1.33649909,  0.17399807,  0.3273216 , -0.14601621,
        -0.55195037],
       [ 0.25517406, -0.26270964, -0.12726392,  0.26535111, -1.38777706,
        -2.1041299 ],
       [-0.1953063 , -0.31235637, -0.34520289, -0.46058892, -0.47495085,
         0.18937089],
       [-0.68733097, -0.39821601,  0.04520577, -0.06167066, -0.9997622 ,
        -1.03992926],
       [-1.16584122, -0.56175817,  0.3708823 , -0.09279004, -1.34755946,
        -0.81423903],
       [-0.09620062, -0.3590827 ,  0.02975069,  0.3018359 , -0.6033073 ,
        -0.02818636],
       [-0.46659559,  0.02056875,  0.69857471,  0.60605467, -0.08183798,
         0.10722778],
       [ 1.0895638 ,  1.09702664,  0.31174983,  1.63245768,  2.23514888,
         2.4515597 ],
       [ 0.37029682, -0.20839028, -0.09769769, -0.3543538 , -1.27494121,
        -1.54214087],
       [-0.37449738, -0.51795224, -1.05232862, -0.43724939,  0.91663472,
         2.3669767 ],
       [-1.55775914, -1.17796169, -1.44228931, -1.99724247,  0.7034248 ,
         0.04623042],
       [-0.8079596 , -0.54832435, -0.03990914, -0.84448404,  1.2668677 ,
         0.72248783],
       [-1.39658727, -1.22819249, -1.14797091, -1.49074773, -0.62183006,
        -0.04648557],
       [-1.1803567 ,  0.33246702, -2.64599336,  0.96446409,  0.05161647,
         0.86522166],
       [ 0.9634293 ,  0.34298044,  0.27747988, -0.12900656, -0.54739918,
         0.4048949 ],
       [ 1.67568881,  2.64542049,  0.98617352,  1.12274369, -0.40074655,
        -2.00653412],
       [-1.53223192,  0.19170394,  0.06357267, -0.1595894 , -0.87616389,
        -0.80000631],
       [ 0.22063723, -0.10676051,  0.08776322,  0.14704381,  0.80951996,
         0.17147833],
       [-0.46959879, -0.8216734 , -0.77973692, -1.17418851, -0.79538882,
        -0.58082246],
       [-1.60480931, -1.02259663, -0.88277076, -1.41348582,  2.34826796,
         1.03113448],
       [-0.75189982,  0.04743639, -0.27890286,  1.08035695, -0.09690542,
        -0.55886341],
       [-0.53166497, -0.77085851, -0.61577872, -1.11731516,  1.96756024,
         0.63099179],
       [ 0.77773129,  0.18761539,  0.49698676, -0.10647184, -1.01233728,
        -0.27136251],
       [ 0.24966819,  3.00871772,  2.2595374 ,  1.75693521, -1.12273742,
        -1.00739734],
       [-0.52565857, -0.05419338,  0.0864193 , -0.65535332, -1.07187066,
        -0.03957254],
       [ 0.68563308,  0.51645195,  1.06053707,  1.26117128, -0.03085793,
         1.80417438],
       [-0.38751126, -0.91045343, -1.11930062, -0.66662068, -0.46588773,
        -1.21519502],
       [ 2.05309125,  0.44110574,  0.87328427,  0.53952358,  0.10780782,
         0.78755168],
       [-0.61275144, -0.39062298, -0.75285852, -1.40463289,  1.48426931,
         0.57284097],
       [ 2.04408164,  2.8691228 ,  2.098939  ,  1.43635193, -0.15853464,
        -0.74022889],
       [ 0.50844413,  0.8850059 ,  1.21822365,  0.71872829, -1.23285434,
        -1.5299414 ],
       [-0.45208011,  0.44869877,  0.54133611,  0.48023579, -0.67433951,
         0.85708868],
       [ 1.38237604,  1.45156269,  0.91404983,  0.77077277,  0.66722896,
         0.90832646],
       [-0.06967233, -1.79825375, -0.81288694, -0.84689848, -0.43943475,
        -1.01715692],
       [-0.45958812, -0.4712259 , -0.1158406 , -0.29104195, -0.96724825,
        -1.01187048],
       [-1.29397786, -0.85146144, -0.56538173, -0.75890574, -0.66844848,
         0.7818586 ],
       [-0.27338956, -0.81115997, -1.09331817, -1.31154302,  0.01740319,
        -0.93013401],
       [ 1.54855324,  1.03803464,  2.1307451 ,  1.79771233,  0.59846253,
         0.7346873 ],
       [-0.01511416, -0.19437238, -1.83471385, -0.64730521, -1.22718989,
        -1.13345855],
       [ 1.15613479,  0.39788388,  0.1166575 ,  0.44401927, -0.54275433,
        -0.50640568]])

In [22]:
df_ss = ss.fit_transform(df[['speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses']])
df_ss.shape

(51, 6)

In [23]:
pd.DataFrame(df_ss,columns=['speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses'])

    speeding   alcohol  not_distracted  no_previous  ins_premium  ins_losses
0   1.168148  0.439938        1.002301     0.277692    -0.580083    0.430514
1   1.212695 -0.211311        0.608532     0.807258     0.943258   -0.022900
2   0.756709  0.187615        0.459357     1.033141     0.070876   -0.981778
3  -0.483614  0.547408        1.676052     1.951700    -0.337701    0.321125
4  -0.399524 -0.891763       -0.594276    -0.891968    -0.048418    1.266178
5   0.016920 -0.630095       -0.633698    -0.291042    -0.291479    0.220276
6  -0.015114 -0.583369       -0.935632    -1.381293     1.029641    1.322702
7   0.579520 -0.015644        0.116657     0.545426     1.421281    0.690769
8  -1.497695 -1.923831       -1.718689    -2.174301     2.191759    0.063310
9  -0.620259  0.177686        0.648402     0.756823     1.547371    0.393915
10 -1.018184 -0.576360        0.279272     0.134972     0.148365    0.337798
11  2.228278  1.336499        0.173998     0.327322    -0.146016   -0.551950
12  0.255174 -0.262710       -0.127264     0.265351    -1.387777   -2.104130
13 -0.195306 -0.312356       -0.345203    -0.460589    -0.474951    0.189371
14 -0.687331 -0.398216        0.045206    -0.061671    -0.999762   -1.039929
15 -1.165841 -0.561758        0.370882    -0.092790    -1.347559   -0.814239
16 -0.096201 -0.359083        0.029751     0.301836    -0.603307   -0.028186
17 -0.466596  0.020569        0.698575     0.606055    -0.081838    0.107228
18  1.089564  1.097027        0.311750     1.632458     2.235149    2.451560
19  0.370297 -0.208390       -0.097698    -0.354354    -1.274941   -1.542141
20 -0.374497 -0.517952       -1.052329    -0.437249     0.916635    2.366977
21 -1.557759 -1.177962       -1.442289    -1.997242     0.703425    0.046230
22 -0.807960 -0.548324       -0.039909    -0.844484     1.266868    0.722488
23 -1.396587 -1.228192       -1.147971    -1.490748    -0.621830   -0.046486
24 -1.180357  0.332467       -2.645993     0.964464     0.051616    0.865222
25  0.963429  0.342980        0.277480    -0.129007    -0.547399    0.404895
26  1.675689  2.645420        0.986174     1.122744    -0.400747   -2.006534
27 -1.532232  0.191704        0.063573    -0.159589    -0.876164   -0.800006
28  0.220637 -0.106761        0.087763     0.147044     0.809520    0.171478
29 -0.469599 -0.821673       -0.779737    -1.174189    -0.795389   -0.580822
30 -1.604809 -1.022597       -0.882771    -1.413486     2.348268    1.031134
31 -0.751900  0.047436       -0.278903     1.080357    -0.096905   -0.558863
32 -0.531665 -0.770859       -0.615779    -1.117315     1.967560    0.630992
33  0.777731  0.187615        0.496987    -0.106472    -1.012337   -0.271363
34  0.249668  3.008718        2.259537     1.756935    -1.122737   -1.007397
35 -0.525659 -0.054193        0.086419    -0.655353    -1.071871   -0.039573
36  0.685633  0.516452        1.060537     1.261171    -0.030858    1.804174
37 -0.387511 -0.910453       -1.119301    -0.666621    -0.465888   -1.215195
38  2.053091  0.441106        0.873284     0.539524     0.107808    0.787552
39 -0.612751 -0.390623       -0.752859    -1.404633     1.484269    0.572841
40  2.044082  2.869123        2.098939     1.436352    -0.158535   -0.740229
41  0.508444  0.885006        1.218224     0.718728    -1.232854   -1.529941
42 -0.452080  0.448699        0.541336     0.480236    -0.674340    0.857089
43  1.382376  1.451563        0.914050     0.770773     0.667229    0.908326
44 -0.069672 -1.798254       -0.812887    -0.846898    -0.439435   -1.017157
45 -0.459588 -0.471226       -0.115841    -0.291042    -0.967248   -1.011870
46 -1.293978 -0.851461       -0.565382    -0.758906    -0.668448    0.781859
47 -0.273390 -0.811160       -1.093318    -1.311543     0.017403   -0.930134
48  1.548553  1.038035        2.130745     1.797712     0.598463    0.734687
49 -0.015114 -0.194372       -1.834714    -0.647305    -1.227190   -1.133459
50  1.156135  0.397884        0.116657     0.444019    -0.542754   -0.506406

## MIN MAX Scaler

In [25]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()

In [26]:
mm.fit_transform(ss.fit_transform(df[['speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses']]))

array([[0.72342648, 0.47921847, 0.74371033, 0.59427828, 0.21618958,
        0.55636883],
       [0.73504832, 0.34718769, 0.66344003, 0.72262679, 0.62393111,
        0.45684192],
       [0.61608775, 0.42806394, 0.63303046, 0.77737321, 0.39042695,
        0.24636258],
       [0.29250457, 0.50100651, 0.88105566, 1.        , 0.28106617,
        0.5323574 ],
       [0.31444241, 0.20923623, 0.41824574, 0.31079324, 0.35849657,
        0.73980184],
       [0.42308697, 0.26228538, 0.41020958, 0.45643693, 0.29343805,
        0.51022048],
       [0.41472969, 0.27175844, 0.34865988, 0.19219766, 0.64705258,
        0.75220923],
       [0.56986158, 0.38685613, 0.56317063, 0.65916775, 0.75188004,
        0.61349638],
       [0.02794463, 0.        , 0.18903246, 0.        , 0.95810844,
        0.47576542],
       [0.25685558, 0.42605092, 0.67156751, 0.71040312, 0.78562981,
        0.54833527],
       [0.15304257, 0.2731794 , 0.5963198 , 0.55968791, 0.41116805,
        0.53601714],
       [1.        , 0.66098283, 0.5748596 , 0.60630689, 0.3323731 ,
        0.34071231],
       [0.48524419, 0.33676732, 0.51344687, 0.59128739, 0.        ,
        0.        ],
       [0.36772003, 0.32670219, 0.46901968, 0.4153446 , 0.24432955,
        0.50343658],
       [0.23935753, 0.30929544, 0.54860509, 0.51202861, 0.10385712,
        0.23359814],
       [0.11452076, 0.27613973, 0.61499475, 0.50448635, 0.01076475,
        0.28313845],
       [0.39357535, 0.31722913, 0.54545455, 0.60013004, 0.20997332,
        0.45568151],
       [0.29694437, 0.39419775, 0.68179535, 0.67386216, 0.34955122,
        0.48540569],
       [0.70292505, 0.61243339, 0.6029405 , 0.92262679, 0.96972224,
        1.        ],
       [0.51527814, 0.34777975, 0.519474  , 0.44109233, 0.03020195,
        0.12335981],
       [0.32097153, 0.28502072, 0.32487101, 0.4210013 , 0.61680514,
        0.98143354],
       [0.01227475, 0.15121374, 0.24537692, 0.04291287, 0.55973679,
        0.47201642],
       [0.20788718, 0.27886323, 0.53125428, 0.32230169, 0.71054946,
        0.62045881],
       [0.05432228, 0.1410302 , 0.30537418, 0.1656697 , 0.20501546,
        0.45166473],
       [0.11073387, 0.45743043, 0.        , 0.76072822, 0.385272  ,
        0.6517897 ],
       [0.67001828, 0.45956187, 0.59595452, 0.49570871, 0.22493784,
        0.55074534],
       [0.85583703, 0.92634695, 0.74042281, 0.79908973, 0.26419128,
        0.02142283],
       [0.01893445, 0.42889284, 0.55234921, 0.48829649, 0.13693978,
        0.28626261],
       [0.476234  , 0.36838366, 0.55728049, 0.56261378, 0.58813451,
        0.49950906],
       [0.29616088, 0.22344583, 0.38043925, 0.24239272, 0.15856025,
        0.33437472],
       [0.        , 0.18271166, 0.35943564, 0.18439532, 1.        ,
        0.68820852],
       [0.22251241, 0.39964476, 0.48253504, 0.78881664, 0.34551822,
        0.33919486],
       [0.27996866, 0.23374778, 0.41386238, 0.25617685, 0.89809873,
        0.6003749 ],
       [0.62157221, 0.42806394, 0.64070134, 0.50117035, 0.10049124,
        0.40230295],
       [0.48380778, 1.        , 1.        , 0.95279584, 0.07094123,
        0.24073909],
       [0.28153565, 0.37904085, 0.55700653, 0.36814044, 0.08455637,
        0.45318218],
       [0.59754505, 0.49473061, 0.75558194, 0.83263979, 0.36319668,
        0.85789521],
       [0.31757639, 0.20544701, 0.31121867, 0.36540962, 0.24675541,
        0.19512631],
       [0.95429616, 0.4794553 , 0.71741016, 0.65773732, 0.40031233,
        0.63474069],
       [0.25881431, 0.31083481, 0.38591845, 0.18654096, 0.76873977,
        0.58761046],
       [0.95194568, 0.97169923, 0.96726177, 0.87509753, 0.32902238,
        0.29938409],
       [0.55131888, 0.56944938, 0.78772659, 0.70117035, 0.04146704,
        0.12603767],
       [0.30073126, 0.48099467, 0.64974202, 0.64336801, 0.19096064,
        0.65000446],
       [0.77931575, 0.68431024, 0.72572029, 0.71378414, 0.55004852,
        0.66125145],
       [0.40049621, 0.02545885, 0.37368157, 0.32171651, 0.25383589,
        0.2385968 ],
       [0.29877253, 0.29449378, 0.51577554, 0.45643693, 0.11255989,
        0.23975721],
       [0.08109167, 0.21740675, 0.42413588, 0.34304291, 0.19253745,
        0.63349103],
       [0.34734918, 0.22557726, 0.31651523, 0.20910273, 0.37611438,
        0.25769883],
       [0.8226691 , 0.60047365, 0.97374549, 0.9626788 , 0.53164231,
        0.62313666],
       [0.41472969, 0.35062167, 0.16538058, 0.37009103, 0.0429832 ,
        0.21306793],
       [0.7202925 , 0.47069272, 0.56317063, 0.63459038, 0.22618109,
        0.35070963]])